{% extends "base.html" %}


{% block content %}

    <div class="large-10 medium-10 row">
      <div class="large-12 medium-12 columns section-title">
        <h3>Start ROS 1 Noetic master and services</h3>
      </div>

        When the robot's API is stopped, click the button below to start ROS  (Robot Operating System) services.<br>
        From another computer installed with ROS 1 on the same subnet than Poppy, set variable 
        <code>export ROS_MASTER_URI=http://poppy.local:11311</code> and then use regular ROS commands or MoveIt to drive
        your robot.<br>
        Poppy will be the ROS master. If you do not want that, start ROS controllers from ssh instead.<br>
        For more information about ROS usage, please refer to the ROS section of the Poppy documentation.

      <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
        <a class="button button-primary" id="start-ros" onclick="refreshForMsg('{{ url_for('rosstart') }}')" style="margin: 4px; padding-right: 40px; padding-left: 40px;">Start ROS</a>
        <a class="button button-primary" id="stop-ros" onclick="refreshForMsg('{{ url_for('rosstop') }}')" style="margin: 4px; padding-right: 40px; padding-left: 40px;">Stop ROS</a>
      </div>
    </div>

{% endblock content %}
