/*
  Helpers
 */
.il {
  display: inline;
}

/*
  Specific
 */

.pp-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
}

.top-bar {
  padding: 1rem;

  border-bottom: 1px solid #cacaca;
}

.top-bar, .top-bar ul {
  background-color: #fefefe;
}

.wrap {
  padding: 20px 0;
}

.version {
  font-size: 12px;
}

.flash-message {
  margin: 1rem auto;
}

.flash-message h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

.menu-tile {
  padding: 1rem;
}

.menu-tile h3 {
  margin-bottom: 1rem;
}

.menu-tile .pp-icon {
  width: 62px;
  height: 62px;

  margin: 0 auto;

  display: block;
}

.menu-tile a {
  display: block;
  padding: 1rem;

  border: 1px solid #2199e8;
  text-align: center;
}

.section-title {
  padding: 2rem 0;
}

.tall-iframe {
  width: 100%;
  height: calc(100vh - 2rem - 1px - 38px);

  padding: 0;
  margin: 0;

  border: 0;
  outline: 0;
}
