{% extends "base.html" %}

{% block content %}

<div class="row columns" style="max-width: 1000px; margin: auto">

  <div class="section-title" align="center">
    <h2 style="line-height:2">Bienvenue dans le {{ robot.creature }} Manager</h2>
    <h4>Configurez votre robot</h4>
  </div>
  <div class="row columns" align="center">
    <div class="input-group" style="width:50%; min-width:250px">
      <span class="input-group-label" style="width:50%;">Configurez la langue</span>
      <select title="Language disponible" class="input-group-field" id="lang-list" onchange="setLang(this.value)">
        <option value="EN" {% if info.langage == 'EN' %} selected{% endif %}>English</option>
        <option value="FR" {% if info.langage == 'FR' %} selected{% endif %}>Français</option>
      </select>
    </div>
  </div>

  <div id="getting-started">

  <div class="callout">
    <div class="row columns">
      <a id="linkStep1" onclick="openStep(1)" title="Ouvrir l'étape">
        <h4 class="section-title">Étape 1: Connexion à l'interface &ensp;<span id="iconStep1" style="font-size: 75%">&#8690;</span> <span id="info-1" style="font-size: 50%">Cliquez pour agrandir</span></h4>
      </a>
      <span id="step1" style="display:none;">
      <div class="columns large-8">
        <h5><a target="_blank" title="afficher la documentation" href="{{ url_for( 'docs_page_content', page_path='assembly-guides/<creature>/electronic-assembly.html' ) }}">Assemblage électronique</a> et <a target="_blank" title="afficher la documentation" href="{{ url_for( 'docs_page_content', page_path='assembly-guides/<creature>/motor-configuration.html#turn-on-the-robot') }}">Connexion</a></h5>
        <p>Si vous êtes ici, cette étape est déjà terminée! <span style="color:orange;"><svg class="pp-icon pp-icon-congrat"><use xlink:href="#pp-icon-congrat"></use></svg> Félicitations! <svg class="pp-icon pp-icon-congrat"><use xlink:href="#pp-icon-congrat"></use></svg></span></p>
      </div>
      <div class="columns large-4">
        <h1><svg class="pp-icon pp-icon-trophy" title="Félicitations!" style="color:yellow; width:100%;"><use stroke="black" xlink:href="#pp-icon-trophy"></use></svg></h1>
      </div>
      </span>
    </div>
  </div>

  <div class="callout">
    <div class="row columns">
      <a id="linkStep2" onclick="openStep(2)" title="Ouvrir l'étape">
        <h4 class="section-title">Étape 2: Construisez votre robot &ensp;<span id="iconStep2" style="font-size: 75%">&#8690;</span> <span id="info-2" style="font-size: 50%">Cliquez pour agrandir</span></h4>
      </a>
      <div class="columns" id="step2" style="display:none;">

        <h5><a target="_blank" title="afficher la documentation" href="{{ url_for( 'docs_page_content', page_path='assembly-guides/<creature>/mechanical-construction.html' ) }}">Assemblage mécanique</a></h5>

        <div class="row" align="center">
        <div class="large-4 medium-5 columns">
          <img class="callout" style="width:100%" src="{{ url_for( 'docs_img_content', img_path='assembly-guides/<creature>/img/assembly/steps/ErgoJr_assembly.gif')}}" alt="building robot gif">
        </div>
        <div class="large-8 medium-7 columns">
          <span>Consultez la documentation de votre robot pour des instructions pas à pas.</span>
          <div class="large-8 medium-7 row columns menu-tile" align="center">
            <a target="_blank" href="{{ url_for( 'docs_page_content', page_path='assembly-guides/<creature>/mechanical-construction.html')}}" title="Documentations d'assemblage mécanique" data-equalizer-watch>
              <h3>
              <svg class="pp-icon pp-icon-doc">
                <title>Docs</title>
                <use xlink:href="#pp-icon-doc"></use>
              </svg>
              </h3>
              <p>Documentation</p>
            </a>
            </div>
        </div>
        </div>

      <h5><a target="_blank" title="afficher la documentation" href="http://poppy.local:4000/en/assembly-guides/ergo-jr/motor-configuration.html">Configuration du moteur</a></h5>
      <p>Nous devrons d'abord configurer chaque moteur l'un après l'autre: pour chaque moteur, connectez-le à la carte Pixl, choisissez son nom et cliquez sur Configurer. Rappelez-vous ensuite le nom que vous avez défini pour ce moteur, il devra être monté au bon endroit.</p>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="callout" style="border-color: red;">
            <div class="row">
              <div class="large-12 columns">
                <p style="font-size:85%; text-align:center;"><span style="color:red;">Ne pas faire:</span> branchez plusieurs moteurs en même temps pendant la configuration.</p>
                <img width="600" src="{{ url_for('static', filename='img/motor_no_double.jpg') }}" alt="Comment brancher un moteur">
              </div>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="callout" style="border-color: green;">
            <div class="row">
              <div class="large-12 columns">
                <p style="font-size:85%; text-align:center;"><span style="color:green;">Ce qu'il faut faire:</span> branchez un seul moteur avant de cliquer sur le bouton Configurer.</p>
                <img width="600" src="{{ url_for('static', filename='img/motor_only_one.jpg') }}" alt="Comment brancher un moteur">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="callout" style="border-color: grey;">
            <h5>
              Quel moteur voulez-vous configurer?
            </h5>
            {% if motors | length > 1 %}
              <form>
                <div class="row">
                  <div class="large-9 columns">
                    <select id="motor">
                      {% for m in motors %}
                        <option value="{{ m }}">{{ m }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="large-3 columns">
                    <button id="configure-motor" type="button" class="button" style="width: 100%;">Configurer</button>
                  </div>
                </div>
              </form>
            {% else %}
              <p>Aucune créature Poppy ne semble être installée sur le robot.</p>
            {% endif %}
            <div class="row" id="config-Logs" style="display:none;">
              <div class="large-12 columns">
                <pre>> Démarage de la configuration...
                  <code id="configlogs" class="accesslog hljs"></code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="callout">
    <div class="row columns">
      <a id="linkStep3" onclick="openStep(3)" title="Ouvrir l'étape">
        <h4 class="section-title">Étape 3: Réveillez et testez votre robot &ensp;<span id="iconStep3" style="font-size: 75%">&#8690;</span> <span id="info-3" style="font-size: 50%">Cliquez pour agrandir</span></h4>
      </a>
      <div class='columns' id="step3" style="display:none;">
      <h5><a target="_blank" title="afficher la documentation" href="{{ url_for( 'docs_page_content', page_path='assembly-guides/<creature>/mechanical-construction.html#step-9---test-your-robot-')}}">Essayons de réveiller et de déplacer votre robot!</a></h5>
      <div class="row columns wrap" align="center">
        <div class="callout" style="border-color: grey;">
          <p>Tout d'abord, démarrez l'API pour réveiller le robot, attendez un peu et vérifiez qu'aucune erreur ne s'est produite:</p>
          <a class="button button-primary" style="width: 100%;" id="start-api" >Démarrer l'API du Robot</a>
            <div class="row">
              <div class="large-12 columns" align="left">
                <pre><code style="max-height:125px; overflow-y:hidden; display:none;" id="api-Logs" class="accesslog hljs">{{ logs_content }}</code><span id="show-switch" style="visibility:hidden" onclick="moreLogs()">(<a>voir plus de logs</a>)</span></pre>
              </div>
            </div>
        </div>
      </div>
      <div class="row columns" align="center">
        <div class="callout" style="border-color: grey;">
          <p>Ensuite, déplaçons-le pour vérifier que cela a fonctionné:</p>
          <a class="button button-primary" style="width: 100%;" id="start-viewer">Ouvrez le Web Viewer</a>
          <a class="button button success" style="width: 100%; display:none;" id="start-prim" onclick="dance(1)">START DANCE</a>
          <a class="button button alert" style="width: 100%; display:none;" id="stop-prim" onclick="dance(0)">STOP DANCE</a>
          <iframe id="viewer" style="display:none;" class="tall-iframe" src=""></iframe>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="callout">
    <div class="row columns">
      <a id="linkStep4" onclick="openStep(4)" title="Ouvrir l'étape">
        <h4 class="section-title">Étape avancée (facultative) &ensp;<span id="iconStep4" style="font-size: 75%">&#8690;</span> <span id="info-4" style="font-size: 50%">Cliquez pour agrandir</span></h4>
      </a>
      <span class="columns" id="step4" style="display:none;">
      <h5 align="center">Plus de configuration, de surveillance et de programmation</h5>
      <div class='row' data-equalizer align="center">
      <div class="large-6 medium-6 columns menu-tile">
        <p>Vous trouverez d'autres paramètres sur la page dédiée</p>
        <a href="{{ url_for('settings') }}" target="_blank">
          <h3>
            <svg class="pp-icon pp-icon-build">
              <title>Settings</title>
              <use xlink:href="#pp-icon-build"></use>
            </svg>
          </h3>
          <p>Configure the robot</p>
        </a>
      </div>
      <div class="large-6 medium-6 columns menu-tile">
        <p>Pour <i>hacker</i> le robot, allez voir son code source</p>
        <a href="{{ url_for('MyDoc') }}" target="_blank">
          <h3>
            <svg class="pp-icon pp-icon-folder">
              <title>My Documents</title>
              <use xlink:href="#pp-icon-folder"></use>
            </svg>
          </h3>
          <p>My Documents</p>
        </a>
      </div>
      <div class="large-6 medium-6 columns menu-tile">
        <p>Pour utiliser plus d'applications pré-installation</p>
        <a href="{{ url_for('monitoring') }}" target="_blank">
          <h3>
            <svg class="pp-icon pp-icon-stats">
              <title>Monitor</title>
              <use xlink:href="#pp-icon-stats"></use>
            </svg>
          </h3>
          <p>Monitor and Control</p>
        </a>
      </div>
      <div class="large-6 medium-6 columns menu-tile">
        <p>Pour programmer le robot!</p>
        <a href="{{ url_for('programming') }}" target="_blank">
          <h3>
            <svg class="pp-icon pp-icon-computer">
              <title>Programming</title>
              <use xlink:href="#pp-icon-computer"></use>
            </svg>
          </h3>
          <p>Programming</p>
        </a>
      </div>
      <h5 align="center">Vous pouvez retrouver tous ces onglets dans la page d'accueil de Robot</h5>
      </div>
      </span>
    </div>
  </div>

  <div class="row columns" align="center">
    <a class="button" style="width:35%; min-width:250px" align="center" href="{{ url_for('end_opening') }}" onclick="return confirm('Êtes-vous sûr? Si vous voulez revenir ici plus tard, réactivez la «page de première connexion» dans l\'onglet Paramètres.')">Enfin, utilisez! Aller à la page d'accueil</a>
  </div>

</div>
</div>
{% include 'defs-svg.html' %}
{% endblock content %}
{% block endscript %}
<script>
var timeOut=1000;
function setLang(val){
    $.post('{{ url_for('set_lang') }}', {lang:val}, function() {
        window.location = '{{ url_for('index') }}';
    });
}
function openStep(id) {
    document.getElementById("info-"+id).style.display = "none";
    var showSwitch = document.getElementById('iconStep'+id);
    var showElement = document.getElementById('step'+id);
    var linkTitle = document.getElementById('linkStep'+id);
    if (showSwitch.innerHTML == "⇲") {
        showElement.style.display = 'block';
        showSwitch.innerHTML = "&#8689;";
        linkTitle.title="Fermer l'étape"
    } else {
        showElement.style.display = 'none';
        showSwitch.innerHTML = "&#8690;";
        linkTitle.title="Ouvrir l'étape"
    };
}
function configLogs() {
  var logsElement = document.getElementById('configlogs');
  $.get('{{ url_for('poppy_config_logs') }}', function (rawLogs) {
    logsElement.innerHTML = rawLogs;
    hljs.highlightBlock(logsElement);
  });
  refreshConfigLogs();
}
function refreshConfigLogs() {
  window.setTimeout(configLogs, timeOut);
}
function apiLogs() {
  var logsElement = document.getElementById('api-Logs');
  $.post('{{ url_for('raw_logs') }}', {id:0}, function(rawLogs) {
      logsElement.innerHTML = rawLogs;
      hljs.highlightBlock(logsElement);
  });
  if (logsElement.scrollHeight > 125) {
      document.getElementById('show-switch').style.visibility = "visible";
  } else {
      document.getElementById('show-switch').style.visibility = "hidden";
  };
  refreshApiLogs()
}
function refreshApiLogs() {
  window.setTimeout(apiLogs, timeOut);
}
function moreLogs() {
    var showSwitch = document.getElementById('show-switch');
    var showElement = document.getElementById('api-Logs');
    if (showSwitch.innerHTML === "(<a>voir plus de logs</a>)") {
        showElement.style.maxHeight = "none";
        showElement.style.overflowY = "auto";
        showSwitch.innerHTML = "(<a>voir moins de logs</a>)";
    } else {
        showElement.style.maxHeight = "125px";
        showElement.style.overflowY = "hidden";
        showSwitch.innerHTML = "(<a>voir plus de logs</a>)";
    };
}
function dance(state) {
    if (state == 1){
        document.getElementById('start-prim').style.display = 'none';
        document.getElementById('stop-prim').style.display = 'block';
        $.get("http://{{ robot.name }}.local:6969/primitive/dance/start");
    } else {
        document.getElementById('start-prim').style.display = 'block';
        document.getElementById('stop-prim').style.display = 'none';
        $.get("http://{{ robot.name }}.local:6969/primitive/dance/stop");
    };
}
$('#configure-motor').click(function () {
  document.getElementById('config-Logs').style.display = 'block';
  motor_to_configure = $('#motor').val().trim();
  $.post('{{ url_for('call_poppy_configure') }}', {motor: motor_to_configure});
  refreshConfigLogs();
});
$('#start-api').click(function () {
  document.getElementById('api-Logs').style.display = 'block';
  $.post( '{{ url_for('APIstart') }}', {dialog: 'quiet'} );
  refreshApiLogs();
});
$('#start-viewer').click(function () {
  document.getElementById('start-viewer').style.display = 'none';
  document.getElementById('start-prim').style.display = 'block';
  document.getElementById('viewer').style.display = 'block';
  document.getElementById('viewer').src = '{{ url_for( 'viewer') }}';
});
</script>
{% endblock endscript %}
