{% extends "base.html" %}


{% block content %}

    <div class="large-10 medium-10 row">
      <div class="large-12 medium-12 columns section-title">
        <h3>Démarrer le master et les services ROS 1 Noetic</h3>
      </div>

        Vérifiez que l'API du robot est stopée puis cliquez sur le bouton ci-dessous pour démarrer les services ROS (Robot Operating System).
        Depuis un autre ordinateur installé avec ROS 1 sur le même sous-réseau que Poppy, définissez la variable d'environnement 
        <code>export ROS_MASTER_URI=http://poppy.local:11311</code> et utilisez les commandes ROS habituelles ou MoveIt pour piloter votre robot.<br>
        Poppy sera le ROS master. Si ce n'est pas souhaitable, démarrer ROS depuis ssh.<br>
        Pour plus d'information à propose de l'usage de ROS, veuillez vous réferez à la section ROS de la documentation de Poppy.

      <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
        <a class="button button-primary" id="start-ros" onclick="refreshForMsg('{{ url_for('rosstart') }}')" style="margin: 4px; padding-right: 40px; padding-left: 40px;">Démarrer ROS</a>
        <a class="button button-primary" id="stop-ros" onclick="refreshForMsg('{{ url_for('rosstop') }}')" style="margin: 4px; padding-right: 40px; padding-left: 40px;">Arrêter ROS</a>
      </div>
    </div>

{% endblock content %}
