{% extends "base.html" %}

{% block content %}

<div class="large-8 medium-8 row">
  <div class="columns section-title">
    <h1>Configure ton robot</h1>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      &emsp;
      <div class="row">
        <div class="large-6 columns">
          <h3>Configurer la langue</h3>
        </div>
        <div class="large-3 medium-3 small-3 columns">
          <a onclick="setLang('EN')">
          <button type="button" class="button" style="width: 100%;">English</button>
          </a>
        </div>
        <div class="large-3 medium-3 small-3 columns">
          <a onclick="setLang('FR')">
          <button type="button" class="button" style="width: 100%;">Français</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Configurer le réseau</h3>
      &emsp;
      <form>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Hostname</h4>
          </div>
          <div class="large-7 columns">
            <div class="input-group">
              <span class="input-group-label">http://</span>
              <input id="robot-hostname" type="text" class="input-group-field" placeholder={{ robot.name }}>
              <span class="input-group-label">.local</span>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Hotspot</h4>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="hotspot-switch" type="checkbox" name="hotspot-switch"{% if hotspot.start %} checked{% endif %}>
              <label class="switch-paddle" for="hotspot-switch">
                <span class="show-for-sr">Hotspot, bascule</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-hotspot-ssid" type="text" class="input-group-field" placeholder={{ hotspot.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-hotspot-psk" type="text" class="input-group-field" placeholder={{ hotspot.psk }}>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Wifi</h4>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="wifi-switch" type="checkbox" name="wifi-switch"{% if wifi.start %} checked{% endif %}>
              <label class="switch-paddle" for="wifi-switch">
                <span class="show-for-sr">Wifi, bascule</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-wifi-ssid" type="text" class="input-group-field" placeholder={{ wifi.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-wifi-psk" type="text" class="input-group-field" placeholder={{ wifi.psk }}>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-7 columns" id="wait-update-network">
            <h4>Attendez, s'il vous plaît.</h4>
          </div>
          <div class="large-5 columns" >
            <button id="update-network" type="button" class="button" style="width: 100%;">Mettre à jour la configuration réseau</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout" align='right'>
      <h3 align="left">Configurer le démarrage</h3>
        <div class="large-10 columns">
          <h4>
            Page de première connexion
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="first-switch" type="checkbox" name="first-switch"{% if robot.firstPage %} checked{% endif %}>
            <label class="switch-paddle" for="first-switch">
              <span class="show-for-sr">Page de première connexion, bascule</span>
            </label>
          </div>
        </div>
        &emsp;
        <div class="large-10 columns">
          <h4>
            Démarrage automatique de l'API du robot
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="autostart-switch" type="checkbox" name="autostart-switch"{% if robot.autoStart %} checked{% endif %}>
            <label class="switch-paddle" for="autostart-switch">
              <span class="show-for-sr">API autostart, bascule</span>
            </label>
          </div>
      </div>
      <div  id="camera">
        <div class="large-10 columns">
          <h4>
            avec la camera ?
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="camera-switch" type="checkbox" name="camera-switch"{% if robot.camera %} checked{% endif %}>
            <label class="switch-paddle" for="camera-switch">
              <span class="show-for-sr">Camera, bascule</span>
            </label>
          </div>
        </div>
      </div>
      <form>
      &emsp;
        <div class="row" align="right">
          <div class="large-10 columns">
              <h4>Combien de robots virtuels ?</h4>
          </div>
          <div class="large-2 columns">
            <div class="input-group">
              <input id="nb-bot" type="text" class="input-group-field" placeholder={{ robot.virtualBot }}>
              <span class="input-group-label">bot</span>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-7 columns" id="wait-update-starting">
            <h4>Attendez, s'il vous plaît.</h4>
          </div>
          <div class="large-5 columns">
            <button id="update-starting" type="button" class="button"  style="width: 100%;">Mettre à jour la configuration de départ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      &emsp;

      <div class="row">
        <div class="large-9 columns">
          <h3>Configurez vos moteurs</h3>
        </div>
        <div class="large-3 columns">
          <a href={{ url_for('configure_motors') }}>
            <button type="button" class="button" style="width: 100%;">Aller à la page de<br>configuration moteurs</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Mettre à jour les logiciels {{ robot.creature }}</h3>
      <div class="row">
        <div class="large-9 columns">
          <div class="callout primary" style="width: 100%;">
            <p>Assurez-vous que votre robot est connecté à Internet.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <a onclick="alert('Désolé, fonctionnalité non prête ... bientôt disponible!')">
          <!-- <a href={{ url_for('update') }} -->
            <button type="button" class="button" style="width: 100%;">Démarrez<br>la mise à jour </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
&emsp;
<div class="large-8 medium-8 row" align="center">
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="terminal" href="{{ url_for('terminal') }}" style="width: 100%;">Ouvrir<br>un Terminal</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="reboot-services" onclick="refreshForMsg('{{ url_for('restart_services') }}')" style="width: 100%;">Redémarrez<br>les services</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="reboot-rasp" onclick="refreshForMsg('{{ url_for('reboot') }}')" style="width: 100%;">Redémarrez<br>la {{ info.board }}</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="shutdown" onclick="refreshForMsg('{{ url_for('shutdown') }}')" style="width: 100%;">Éteindre<br>la {{ info.board }}</a><br>
    </div>
</div>
&emsp;
{% endblock content %}

{% block endscript %}
<script>

function setLang(val){
    $.post('{{ url_for('set_lang') }}', {lang:val}, function() {
        window.location = '{{ url_for('settings') }}';
    });
}

// config network
$('#hotspot-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("wifi-switch").click();
    };
});

$('#wifi-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("hotspot-switch").click();
    };
});

document.getElementById("wait-update-network").style.visibility = "hidden";

$('#update-network').click(function() {
    document.getElementById("wait-update-network").style.visibility = "visible";
    hostname = ($('#robot-hostname').val().trim() !== '' ?
                $('#robot-hostname').val().trim() : '{{ robot.name }}');
    $.post("{{ url_for('settings_update') }}", {
        wifi_start: ($('#wifi-switch').prop('checked') === true ? 'on' : 'off'),
        wifi_ssid : $('#robot-wifi-ssid').val().trim(),
        wifi_psk : $('#robot-wifi-psk').val().trim(),
        hotspot_start : ($('#hotspot-switch').prop('checked') === true ? 'on' : 'off'),
        hotspot_ssid : $('#robot-hotspot-ssid').val().trim(),
        hotspot_psk : $('#robot-hotspot-psk').val().trim(),
        robot_name : hostname
        }, function() {
        window.location.reload();
      });
});

// config starting
if ($("#autostart-switch").prop('checked') === false) {
    document.getElementById("camera").style.display = "none";
};

$('#autostart-switch').change(function() {
    if (document.getElementById("camera").style.display === "none") {
        document.getElementById("camera").style.display = "block";
    } else {
        document.getElementById("camera").style.display = "none";
    }
});

document.getElementById("wait-update-starting").style.visibility = "hidden";

$('#update-starting').click(function() {
    document.getElementById("wait-update-starting").style.visibility = "visible";
    $.post("{{ url_for('settings_update') }}", {
        robot_firstPage: ($('#first-switch').prop('checked') === true ? 'on' : 'off'),
        robot_autoStart : ($('#autostart-switch').prop('checked') === true ? 'on' : 'off'),
        robot_camera : ($('#camera-switch').prop('checked') === true ? 'on' : 'off'),
        robot_virtualBot : $('#nb-bot').val().trim()
        }, function() {
        window.location.reload();
      });
});

</script>
{% endblock endscript %}
