{% extends "base.html" %}

{% block content %}

<div class="large-8 medium-8 row">
  <div class="columns section-title">
    <h3>Configure ton robot</h3>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <span  class="section-title"><a onclick="openStep('Langage')"><h4>Configurer la langue &emsp;<span id="openButton-Langage" style="font-size: 80%">&#8690;</span></h4></a></span>
      <div id="step-Langage" style="display : none;">
        &emsp;
        <div class="row columns" align="center">
          <a onclick="setLang('EN')">
          <button type="button" class="button" style="width: 25%;">English</button>
          </a>
          <a onclick="setLang('FR')">
          <button type="button" class="button" style="width: 25%;">Français</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <span  class="section-title"><a onclick="openStep('Network')"><h4>Configurer le réseau &emsp;<span id="openButton-Network" style="font-size: 80%">&#8690;</span></h4></a></span>
      <div id="step-Network" style="display : none;">
      &emsp;
      <form>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Hostname</h4>
          </div>
          <div class="large-7 columns">
            <div class="input-group">
              <span class="input-group-label">http://</span>
              <input id="robot-hostname" type="text" class="input-group-field" placeholder={{ robot.name }}>
              <span class="input-group-label">.local</span>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Hotspot</h4>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="hotspot-switch" type="checkbox" name="hotspot-switch"{% if hotspot.start %} checked{% endif %}>
              <label class="switch-paddle" for="hotspot-switch">
                <span class="show-for-sr">Hotspot, bascule</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-hotspot-ssid" type="text" class="input-group-field" placeholder={{ hotspot.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-hotspot-psk" type="text" class="input-group-field" placeholder={{ hotspot.psk }}>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h4>Wifi</h4>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="wifi-switch" type="checkbox" name="wifi-switch"{% if wifi.start %} checked{% endif %}>
              <label class="switch-paddle" for="wifi-switch">
                <span class="show-for-sr">Wifi, bascule</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-wifi-ssid" type="text" class="input-group-field" placeholder={{ wifi.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-wifi-psk" type="text" class="input-group-field" placeholder={{ wifi.psk }}>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-7 columns" id="wait-update-network">
            <h4>Attendez, s'il vous plaît.</h4>
          </div>
          <div class="large-5 columns" >
            <button id="update-network" type="button" class="button" style="width: 100%;">Mettre à jour la configuration réseau</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout" align='right'>
      <span  class="section-title" align="left"><a onclick="openStep('Starting')"><h4>Configurer le démarrage &emsp;<span id="openButton-Starting" style="font-size: 80%">&#8690;</span></h4></a></span>
      <div id="step-Starting" style="display : none;">
        <div class="large-10 columns">
          <h4>
            Page de première connexion
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="first-switch" type="checkbox" name="first-switch"{% if robot.firstPage %} checked{% endif %}>
            <label class="switch-paddle" for="first-switch">
              <span class="show-for-sr">Toggle First page connection</span>
            </label>
          </div>
        </div>
        &emsp;
        <div class="large-10 columns">
          <h4>
            Démarrage automatique de l'API du robot
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="autostart-switch" type="checkbox" name="autostart-switch"{% if robot.autoStart %} checked{% endif %}>
            <label class="switch-paddle" for="autostart-switch">
              <span class="show-for-sr">API autostart, bascule</span>
            </label>
          </div>
      </div>
      <div  id="camera">
        <div class="large-10 columns">
          <h4>
            avec la camera ?
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="camera-switch" type="checkbox" name="camera-switch"{% if robot.camera %} checked{% endif %}>
            <label class="switch-paddle" for="camera-switch">
              <span class="show-for-sr">Camera, bascule</span>
            </label>
          </div>
        </div>
      </div>
      <form>
      &emsp;
        <div class="row" align="right">
          <div class="large-10 columns">
              <h4>Combien de robots virtuels ?</h4>
          </div>
          <div class="large-2 columns">
            <div class="input-group">
              <input id="nb-bot" type="text" class="input-group-field" placeholder={{ robot.virtualBot }}>
              <span class="input-group-label">bot</span>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-7 columns" id="wait-update-starting">
            <h4>Attendez, s'il vous plaît.</h4>
          </div>
          <div class="large-5 columns">
            <button id="update-starting" type="button" class="button" style="width: 100%;">Mettre à jour la configuration de départ</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
    <div class="row columns">
      <span  class="section-title"><a onclick="openStep('Motors')"><h4>Configurez les moteurs &ensp;<span id="openButton-Motors" style="font-size: 80%">&#8690;</span></h4></a></span>
      <div id="step-Motors" style="display : none;">

      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="callout">
            <div class="row">
              <div class="large-12 columns">
                <p>Ne pas brancher 2 moteurs en même temps</p>
                <img width="600" src="{{ url_for('static', filename='img/motor_no_double.jpg') }}" alt="How to plug a motor">
              </div>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="callout">
            <div class="row">
              <div class="large-12 columns">
                <p>Brancher 1 seul moteur pour le configurer</p>
                <img width="600" src="{{ url_for('static', filename='img/motor_only_one.jpg') }}" alt="How to plug a motor">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="callout">
            <h5>
              Quel moteur souhaitez-vous configurer?
            </h5>
            {% if motors | length > 1 %}
              <form>
                <div class="row">
                  <div class="large-9 columns">
                    <select id="motor">
                      {% for m in motors %}
                        <option value="{{ m }}">{{ m }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="large-3 columns">
                    <button id="configure-motor" type="button" class="button" style="width: 100%;">Configurer</button>
                  </div>
                </div>
              </form>
            {% else %}
              <p>Aucune creature Poppy ne semble être installé sur le robot.</p>
            {% endif %}
          </div>
        </div>
      </div>
      </div>

      <div class="row" id="config-Logs" style="display : none;">
        <div class="large-12 columns">
          <div class="callout">
            <pre>> Démarage configuration...
              <code id="configlogs" class="accesslog hljs"></code>
            </pre>
          </div>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <span  class="section-title"><a onclick="openStep('Upgrade')"><h4>Mettre à jour les logiciels {{ robot.creature }} &ensp;<span id="openButton-Upgrade" style="font-size: 80%">&#8690;</span></h4></a></span>
      <div id="step-Upgrade" style="display : none;">
      <div class="row">
        <div class="large-9 columns">
          <div class="callout primary" style="width: 100%;">
            <p>Assurez-vous que votre robot est connecté à Internet.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <a onclick="alert('Sorry, feature not ready... coming soon!')">
          <!-- <a href={{ url_for('update') }} -->
            <button type="button" class="button"  style="width: 100%;">Démarrez<br>la mise à jour </button>
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="large-8 medium-8 row" align="center">
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="terminal" href="{{ url_for('terminal') }}" style="width: 100%;">Ouvrir<br>un Terminal</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="reboot-services" onclick="refreshForMsg('{{ url_for('restart_services') }}')" style="width: 100%;">Redémarrez<br>les services</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="reboot-rasp" onclick="refreshForMsg('{{ url_for('reboot') }}')" style="width: 100%;">Redémarrez<br>la {{ info.board }}</a><br>
    </div>
    <div class="large-3 medium-6 small-6 columns">
        <a class="button button-primary" id="shutdown" onclick="refreshForMsg('{{ url_for('shutdown') }}')" style="width: 100%;">Éteindre<br>la {{ info.board }}</a><br>
    </div>
</div>
{% endblock content %}

{% block endscript %}
<script>
var timeOut=1000;

function setLang(val){
    $.post('{{ url_for('set_lang') }}', {lang:val}, function() {
        window.location = '{{ url_for('settings') }}';
    });
}
function openStep(name) {
    var showSwitch = document.getElementById('openButton-'+name);
    var showElement = document.getElementById('step-'+name);
    if (showSwitch.innerHTML == "⇲") {
        showElement.style.display = 'block';
        showSwitch.innerHTML = "&#8689;";
    } else {
        showElement.style.display = 'none';
        showSwitch.innerHTML = "&#8690;";
    };
}
// config network
$('#hotspot-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("wifi-switch").click();
    };
});

$('#wifi-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("hotspot-switch").click();
    };
});

document.getElementById("wait-update-network").style.visibility = "hidden";

$('#update-network').click(function() {
    document.getElementById("wait-update-network").style.visibility = "visible";
    hostname = ($('#robot-hostname').val().trim() !== '' ?
                $('#robot-hostname').val().trim() : '{{ robot.name }}');
    $.post("{{ url_for('settings_update') }}", {
        wifi_start: ($('#wifi-switch').prop('checked') === true ? 'on' : 'off'),
        wifi_ssid : $('#robot-wifi-ssid').val().trim(),
        wifi_psk : $('#robot-wifi-psk').val().trim(),
        hotspot_start : ($('#hotspot-switch').prop('checked') === true ? 'on' : 'off'),
        hotspot_ssid : $('#robot-hotspot-ssid').val().trim(),
        hotspot_psk : $('#robot-hotspot-psk').val().trim(),
        robot_name : hostname
        }, function() {
        window.location.reload();
      });
});

// config starting
if ($("#autostart-switch").prop('checked') === false) {
    document.getElementById("camera").style.display = "none";
};

$('#autostart-switch').change(function() {
    if (document.getElementById("camera").style.display === "none") {
        document.getElementById("camera").style.display = "block";
    } else {
        document.getElementById("camera").style.display = "none";
    }
});

document.getElementById("wait-update-starting").style.visibility = "hidden";

// config motors
$('#configure-motor').click(function () {
  document.getElementById('config-Logs').style.display = 'block';
  motor_to_configure = $('#motor').val().trim();
  $.post('{{ url_for('call_poppy_configure') }}', {motor: motor_to_configure});
  refreshConfigLogs();
});
function configLogs() {
  var logsElement = document.getElementById('configlogs');
  $.get('{{ url_for('poppy_config_logs') }}', function (rawLogs) {
    logsElement.innerHTML = rawLogs;
    hljs.highlightBlock(logsElement);
  });
  refreshConfigLogs();
}
function refreshConfigLogs() {
  window.setTimeout(configLogs, timeOut);
}

//update
$('#update-starting').click(function() {
    document.getElementById("wait-update-starting").style.visibility = "visible";
    $.post("{{ url_for('settings_update') }}", {
        robot_firstPage: ($('#first-switch').prop('checked') === true ? 'on' : 'off'),
        robot_autoStart : ($('#autostart-switch').prop('checked') === true ? 'on' : 'off'),
        robot_camera : ($('#camera-switch').prop('checked') === true ? 'on' : 'off'),
        robot_virtualBot : $('#nb-bot').val().trim()
        }, function() {
        window.location.reload();
      });
});

</script>
{% endblock endscript %}
