{% extends "base.html" %}

{% block content %}

<div class="large-10 row">
  <div class="columns">
    <h1 class="section-title">No internet access!</h1>
    <h2>Local documentation building.</h2>
    <h2>Wait build complete and refresh this page.</h2>
  </div>
</div>

<div class="large-10 row">
  <div class="large-12 columns">
    <pre>
Logs of documentation building <span id="show-switch" style="visibility:hidden" onclick="switchShow()">(<a>show more logs</a>)</span>
<code style="max-height:200px; overflow-y:hidden;" id="docs_logs" class="accesslog hljs">{{ logs_content }}</code><a id="save-logs" onclick="downloadLogs()">Save this logs</a>
    </pre>
  </div>
</div>

&emsp;
<div class="large-10 medium-10 row" align="center">
    <div class="large-4 medium-7 small-7 columns">
        <a class="button button-primary" id="terminal" href="{{ url_for('docs') }}" style="width: 100%;">Refresh this page</a><br>
    </div>
    <div class="large-4 medium-7 small-7 columns">
        <a class="button button-primary" id="reboot-bot" href="{{ url_for('docs_pdf_en') }}" target="_blank" style="width: 100%;">Open the pdf documentation</a><br>
    </div>
    <div class="large-4 medium-7 small-7 columns">
        <a class="button button-primary" id="reboot-rasp" href="{{ url_for('docs_pdf_fr') }}" target="_blank" style="width: 100%;">Ouvrir la documentation pdf</a><br>
    </div>
</div>
&emsp;

{% endblock content %}

{% block endscript %}
<script>

var logsElement = document.getElementById('docs_logs');
var showSwitch = document.getElementById('show-switch');
var ContentElement =  document.getElementById('save-logs');

function switchShow() {
    if (showSwitch.innerHTML === "(<a>show more logs</a>)") {
        logsElement.style.maxHeight = "none";
        logsElement.style.overflowY = "auto";
        showSwitch.innerHTML = "(<a>show less logs</a>)";
    } else {
        logsElement.style.maxHeight = "200px";
        logsElement.style.overflowY = "hidden";
        showSwitch.innerHTML = "(<a>show more logs</a>)";
    };
}

function downloadLogs() {
    ContentElement.download="Building_docs_logs.txt";
    $.get('{{ url_for('docs_log') }}', function(rawLogs) {
        ContentElement.href="data:text/html," + rawLogs.replace(/#/g,'%23');
    });
}

function refreshLogs() {
  $.get('{{ url_for('docs_log') }}', function(rawLogs) {
    logsElement.innerHTML = rawLogs;
    logsElement.scrollTop = logsElement.scrollHeight;
    hljs.highlightBlock(logsElement);

    if (logsElement.scrollHeight > 200) {
      showSwitch.style.visibility = "visible";
    } else {
      showSwitch.style.visibility = "hidden";
    };

    startTimeout();
  });
}

function startTimeout() {
  logTimeOut = window.setTimeout(refreshLogs, 1000);
}

startTimeout();

</script>
{% endblock endscript %}
