{% extends "base.html" %}

{% block content %}

<h1>Logs</h1>

<div class="row">
  <div class="large-12 columns">
    <pre>
      <code id="robot-logs" class="accesslog hljs">{{ logs_content }}</code>
    </pre>
  </div>
</div>

{% endblock content %}

{% block endscript %}
<script>

var timeOut;

function refreshLogs() {
  $.get('/raw_logs', function(rawLogs) {
    var logsElement = document.getElementById('robot-logs');

    logsElement.innerHTML = rawLogs;
    hljs.highlightBlock(logsElement);
    window.scrollTo(0, document.body.scrollHeight);

    startTimeout();
  });
}

function startTimeout() {
  timeOut = window.setTimeout(refreshLogs, 1000);
}

startTimeout();

</script>
{% endblock endscript %}
