{% extends "base.html" %}

{% block content %}

<div class="row columns" style="max-width: 600px; margin: auto">
  <div class="section-title">
  <h1>Welcome to</h1>
  <h2>{{ robot.creature }} Manager</h2>
  </div>
  <div class="callout">
    <p class="lead" align="center">Choose your langage</p>
    <div class="row" align="center">
      <div class="large-6 medium-6 small-6 columns" align="center">
        <a onclick="setLang('EN')">
        <button type="button" class="button" style="width: 100%;">English</button>
        </a>
      </div>
      <div class="large-6 medium-6 small-6 columns" align="center">
        <a onclick="setLang('FR')">
        <button type="button" class="button" style="width: 100%;">Français</button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block endscript %}
<script>
function setLang(val){
    $.post('{{ url_for('set_lang') }}', {lang:val}, function() {
        window.location = '{{ url_for('opening') }}';
    });
}
</script>
{% endblock endscript %}
