{% extends "base.html" %}

{% block content %}

<div class="large-8 medium-8 row">
  <div class="columns">
    <h1 class="section-title">Configure your robot</h1>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <h2>Configure Network</h2>
      &emsp;
      <form>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h3>Hostname</h3>
          </div>
          <div class="large-7 columns">
            <div class="input-group">
              <span class="input-group-label">http://</span>
              <input id="robot-hostname" type="text" class="input-group-field" placeholder={{ robot.name }}>
              <span class="input-group-label">.local</span>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h3>Hotspot</h3>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="hotspot-switch" type="checkbox" name="hotspot-switch"{% if hotspot.start %} checked{% endif %}>
              <label class="switch-paddle" for="hotspot-switch">
                <span class="show-for-sr">Toggle Hotspot</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-hotspot-ssid" type="text" class="input-group-field" placeholder={{ hotspot.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-hotspot-psk" type="text" class="input-group-field" placeholder={{ hotspot.psk }}>
            </div>
          </div>
        </div>
        <div class="row" align="right">
          <div class="large-5 columns">
              <h3>Wifi</h3>
          </div>
          <div class="large-1 columns">
            <div class="switch il">
              <input class="switch-input" id="wifi-switch" type="checkbox" name="wifi-switch"{% if wifi.start %} checked{% endif %}>
              <label class="switch-paddle" for="wifi-switch">
                <span class="show-for-sr">Toggle Wifi</span>
              </label>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">SSID</span>
              <input id="robot-wifi-ssid" type="text" class="input-group-field" placeholder={{ wifi.ssid }}>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="input-group">
              <span class="input-group-label">PSK</span>
              <input id="robot-wifi-psk" type="text" class="input-group-field" placeholder={{ wifi.psk }}>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-8 columns" id="wait-update-network">
            <h4>Please wait</h4>
          </div>
          <div class="large-4 columns">
            <button id="update-network" type="button" class="button">Update Network Configuration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout" align='right'>
      <h2 align="left">Configure Starting</h2>
        <div class="large-10 columns">
          <h3>
            First page connection
          </h3>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="first-switch" type="checkbox" name="first-switch"{% if robot.firstPage %} checked{% endif %}>
            <label class="switch-paddle" for="first-switch">
              <span class="show-for-sr">Toggle First page connection</span>
            </label>
          </div>
        </div>
        &emsp;
        <div class="large-10 columns">
          <h3>
            Real robot API auto-start
          </h3>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="autostart-switch" type="checkbox" name="autostart-switch"{% if robot.autoStart %} checked{% endif %}>
            <label class="switch-paddle" for="autostart-switch">
              <span class="show-for-sr">Toggle API autostart</span>
            </label>
          </div>
      </div>
      <div  id="camera">
        <div class="large-10 columns">
          <h4>
            with camera ?
          </h4>
        </div>
        <div class="large-2 columns">
          <div class="switch il">
            <input class="switch-input" id="camera-switch" type="checkbox" name="camera-switch"{% if robot.camera %} checked{% endif %}>
            <label class="switch-paddle" for="camera-switch">
              <span class="show-for-sr">Toggle Camera</span>
            </label>
          </div>
        </div>
      </div>
      <form>
      &emsp;
        <div class="row" align="right">
          <div class="large-10 columns">
              <h3>How many virtual bot ?</h3>
          </div>
          <div class="large-2 columns">
            <div class="input-group">
              <input id="nb-bot" type="text" class="input-group-field" placeholder={{ robot.virtualBot }}>
              <span class="input-group-label">bot</span>
            </div>
          </div>
        </div>
        &emsp;
        <div class="row" align="right">
          <div class="large-8 columns" id="wait-update-starting">
            <h4>Please wait</h4>
          </div>
          <div class="large-4 columns">
            <button id="update-starting" type="button" class="button">Update Starting Configuration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      &emsp;

      <div class="row">
        <div class="large-9 columns">
          <h2>Configure your motors</h2>
        </div>
        <div class="large-3 columns">
          <a href="/configure-motors">
            <button type="button" class="button">Go to Motors configuration</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="large-8 medium-8 row">
  <div class="large-12 columns">
    <div class="callout">
      <h2>Upgrade {{ robot.creature }} software</h2>
      <div class="row">
        <div class="large-9 columns">
          <div class="callout primary">
            <p>Make sure your robot is connected to internet.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <a href={{ url_for('update') }}>
            <button type="button" class="button">Start the software update NOW</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
&emsp;
<div class="large-8 medium-8 row" align="center">
    <div class="large-3 medium-3 small-6 columns">
        <a class="button button-primary" id="terminal" href="{{ url_for('terminal') }}">Open an Terminal</a><br>
    </div>
    <div class="large-3 medium-3 small-6 columns">
        <a class="button button-primary" id="reboot-bot" onclick="refreshForMsg('{{ url_for('APIreset') }}')">Reboot robot software</a><br>
    </div>
    <div class="large-3 medium-3 small-6 columns">
        <a class="button button-primary" id="reboot-rasp" onclick="refreshForMsg('{{ url_for('reboot') }}')">Reboot  {{ info.board }}</a><br>
    </div>
    <div class="large-3 medium-3 small-6 columns">
        <a class="button button-primary" id="shutdown" onclick="refreshForMsg('{{ url_for('shutdown') }}')">Shutdown  {{ info.board }}</a><br>
    </div>
</div>
&emsp;

{% endblock content %}

{% block endscript %}
<script>

// config network
$('#hotspot-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("wifi-switch").click();
    };
});

$('#wifi-switch').change(function() {
    if (document.getElementById("hotspot-switch").checked === true &&
        document.getElementById("wifi-switch").checked === true) {
        document.getElementById("hotspot-switch").click();
    };
});

document.getElementById("wait-update-network").style.visibility = "hidden";

$('#update-network').click(function() {
    document.getElementById("wait-update-network").style.visibility = "visible";
    hostname = ($('#robot-hostname').val().trim() !== '' ?
                $('#robot-hostname').val().trim() : '{{ robot.name }}');
    $.post("{{ url_for('settings_update') }}", {
        wifi_start: ($('#wifi-switch').prop('checked') === true ? 'on' : 'off'),
        wifi_ssid : $('#robot-wifi-ssid').val().trim(),
        wifi_psk : $('#robot-wifi-psk').val().trim(),
        hotspot_start : ($('#hotspot-switch').prop('checked') === true ? 'on' : 'off'),
        hotspot_ssid : $('#robot-hotspot-ssid').val().trim(),
        hotspot_psk : $('#robot-hotspot-psk').val().trim(),
        robot_name : hostname
        }, function() {
        window.location.reload();
      });
});

// config starting
if ($("#autostart-switch").prop('checked') === false) {
    document.getElementById("camera").style.display = "none";
};

$('#autostart-switch').change(function() {
    if (document.getElementById("camera").style.display === "none") {
        document.getElementById("camera").style.display = "block";
    } else {
        document.getElementById("camera").style.display = "none";
    }
});

document.getElementById("wait-update-starting").style.visibility = "hidden";

$('#update-starting').click(function() {
    document.getElementById("wait-update-starting").style.visibility = "visible";
    $.post("{{ url_for('settings_update') }}", {
        robot_firstPage: ($('#first-switch').prop('checked') === true ? 'on' : 'off'),
        robot_autoStart : ($('#autostart-switch').prop('checked') === true ? 'on' : 'off'),
        robot_camera : ($('#camera-switch').prop('checked') === true ? 'on' : 'off'),
        robot_virtualBot : $('#nb-bot').val().trim()
        }, function() {
        window.location.reload();
      });
});

</script>
{% endblock endscript %}
