{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="columns">
    <h1 class="section-title">Configure your robot</h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="callout">
      <h2>
        Toggle camera on/off

        <div class="switch il">
          <input class="switch-input" id="camera-switch" type="checkbox" name="camera-switch"{% if robot.camera %} checked{% endif %}>
          <label class="switch-paddle" for="camera-switch">
            <span class="show-for-sr">Toggle Camera</span>
          </label>
        </div>
      </h2>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="callout">
      <h2>Robot hostname</h3>

      <form>
        <div class="row">
          <div class="large-9 columns">
            <div class="input-group">
              <input id="robot-hostname" class="input-group-field" placeholder={{ robot.name }}>
              <span class="input-group-label">.local</span>
            </div>
          </div>
          <div class="large-3 columns">
            <button id="update-robot-hostname" type="button" class="button">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="row">
        <div class="callout">
            <h2>Upgrade your robot software</h3>
            <div class="large-9 columns">
                <div class="callout primary">
                  <p>Make sure your robot is connected to internet. And that you don't turn off the robot in during the upgrade!</p>
                </div>
            </div>
            <div class="large-3 columns">
                <a href={{ url_for('update') }}>
                    <button type="button" class="button">Start update</button>
                </a>
            </div>
        </div>
      </div>
</div>

{% endblock content %}

{% block endscript %}
<script>

$('#camera-switch').change(function() {
  if ($(this).prop('checked') === true) {
    $.get('/camera/on');
  } else {
    $.get('/camera/off');
  }
});

$('#update-robot-hostname').click(function() {
    newHostname = $('#robot-hostname').val().trim();

    if (newHostname !== '' && newHostname !== '{{ robot.name }}') {
      $.get('/change_hostname/' + newHostname, function() {
        window.location.href = 'http://' + newHostname + '.local';
      });
    }
});

</script>
{% endblock endscript %}
